.scroll-to-top {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ee7e31;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
    -o-transition: background-color .3s, opacity .5s, visibility .5s;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: visible;
    z-index: 1000;
    
    transition: all .2s ease-in-out;
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }
   .scroll-to-top:hover {
    cursor: pointer;
    background-color: #333
   }

   /* .scroll-to-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ee7e31;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
    -o-transition: background-color .3s, opacity .5s, visibility .5s;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000
}

.scroll-to-top:after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 2;
    color: #fff
}

.scroll-to-top:hover {
    cursor: pointer;
    background-color: #333
}

.scroll-to-top:active {
    background-color: #555
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible
} */