    <section class="checkout-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="section-header">
                        <h2>Times<a href="#">Edit</a></h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="collaction">
                                <h4>Collaction time</h4>
                                <p class="date">Wed, Nov 2019</p>
                                <p>07.00 AM to 08.00 AM</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="collaction">
                                <h4>Delivery time</h4>
                                <p class="date">Wed, Nov 2019</p>
                                <p>07.00 AM to 08.00 AM</p>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="#" class="a-link">Save date to calendar</a> -->
                    <h3>Delevery Instruction</h3>
                    <form [formGroup]="deliveryNotesForm">
                    <textarea  formControlName="delivery_notes" placeholder="Cleaning instructions (optional)"></textarea>
                    </form>
                </div>
                <div class="col-sm-6">
                    <div class="checkout-box">
                        <div class="checkout-header">
                            <h2>Checkout</h2>
                        </div>
                        <div class="checkout-body">
                            <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()">
                            <div class="code-here">
                                <input type="text" formControlName="coupon_code" placeholder="Voucher Code">
                                <input type="submit" value="Submit" class="btn-back">
                            </div>
                            <span  class="validation-error">{{errorMessage}}</span>
                            <span  class="success-msg">{{successMsg}}</span>
                            <div class="validation-error" *ngFor="let validation of account_validation_messages.coupon_code">
                                <span class="validation-error"
                                    *ngIf="couponForm.get('coupon_code').hasError(validation.type) && (couponForm.get('coupon_code').dirty || couponForm.get('coupon_code').touched)">*{{validation.message}}
                                </span>
                            </div>
                        </form>
                            <div class="subtotal">
                                <h5>Subtotal<span>£{{finalPrice}}</span></h5>
                                <hr>
                                <h4>Total<span>£{{finalPrice}}</span></h4>
                            </div>
                            <input type="button" value="Place order" (click)="checkOut()" class="theme-btn">
                        </div>
                    </div>
                </div>
            </div>
            <a (click)="goBack()" class="btn-back hand">Back</a>
        </div>
    </section>
    <section class="select-cart">
        <div class="container">
           <div class="row">
               <div class="col-sm-7">
                       <h4>Minimum Order Value $15</h4>
               </div>
               <!-- <div class="col-sm-5 text-right">
                   <h4>Total: $ 5.20</h4>
               </div>     -->
               <div class="col-sm-7">
                   <a href="#" class="support-here">
                     <span> <i class="fa fa-commenting" aria-hidden="true"></i></span>
                       Support
                   </a>
               </div> 
                 <!-- <div class="col-sm-5 text-right">
                   <a href="#" class="your-basket">
                       Your Basket<i class="fa fa-angle-right" aria-hidden="true"></i>
                   </a>
                 </div> -->
           </div>
       </div>
   </section>
