 @import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,900&display=swap');
 /*** Parameters ***/
 
 // Colors
 $color-primary: #2fb2ff;
 $color-primary-hover: #227eb4;
 $color-secondary: #0f0f0f;
 $color-text:#383838;
 $color-black:#000;
 $color-white:#fff;
 $color-footer:#101D2C;
 $color-copyright:#0C1A29;
 $color-grey-field:#FAFAFB;
 $color-field-border:#F3F4F4;
 $color-grey:#F5F6F9;
 $color-grey-bg:#E5E5E5;
 $color-grey-border:#9399A0;
 $color-blue-lt:#edf5fd;
 $color-footer-text:#bcc7cb;
 $color-copyrt-text:#949494;
 $color-btn:#231f20;
 $color-newsletter:#302c2d;
 $color-sky-blue:#1cadeb;
 $color-blue-dark:#233d61;
 $color-loader:#357BFF;
 $color-fb-bg:#CDE4FF;
 $color-tw-bg:#DBF8FF;
 $color-gg-bg:#F9F9F9;
 $color-red:#FF0000;
 $color-blue:#0075FF;
 $color-green:#00FF38;
 //path   
 $assets:'../';
 $fonts:'../fonts/';
 $images:'../images/';
 $js:'../js/';
 // Brand color
 $color-facebook: #5182FF;
 $color-feedly: #2bb24c;
 $color-github: #333;
 $color-google: #dc4e41;
 $color-instagram: #3f729b;
 $color-linkedin: #0077b5;
 $color-medium: #00ab6b;
 $color-messenger: #0084ff;
 $color-rss: #f26522;
 $color-spotify: #2ebd59;
 $color-twitter: #33C9D2;
 $color-red:#f00;
 $color-youtube:#df493b;
 $color-imark:#26a9e0;
 $bg-grey-color:#f6f6f6;
 // Font Size
 $font-size-biggest: 2.8rem;
 $font-size-largest: 2.3rem;
 $font-size-large: 1.2rem;
 $font-size-base: 1rem;
 $font-size-small: .9rem;
 $font-size-smallest: .75rem; 
 // Spacing
 $spacing-small: .75rem;
 $spacing-single: 1rem;
 $spacing-double: 2rem;
 $spacing-triple: 3rem;
 $spacing-big: 6rem;
 // Media queries
 $desktop: 800px;
 $tablet: 600px;
 $mobile: 480px;
 // Font Family
 $sans-montserrat:'Montserrat',
 sans-serif;
 $sans-poppins:'Poppins',
 sans-serif;
 //font-weight
 $font-weight-light:300;
 $font-weight-normal:normal;
 $font-weight-medium:500;
 $font-weight-semi-bold:600;
 $font-weight-bold:700;
 // Animation
 $anime-in: .4s;
 $anime-out: .5s;