.navbar {
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color-white;


    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;

        @include breakpoint(desktop)
        {
          max-width:160px;
        }
     }
    .navbar-collapse {
        justify-content: flex-end;
    }
    &.navbar-expand-lg {
        .navbar-nav {
            align-items: center;
            li {
                margin-right: 60px;

            @include breakpoint(desktop)
                {
                    margin-right:40px;
                }

                &:last-child {
                    margin-right: 0;
                }
                &.active,
                &.custom-menu-item {
                    .nav-link {
                        color: $color-primary;
                        &:after {
                            transform: translateY(24px);
                            opacity: 1;
                        }
                    }
                }
            }
            .nav-link {
                padding: 0;
                font-size: 16px;
                font-weight: $font-weight-normal;
                color: $color-text;
                text-transform: uppercase;
                position:relative;
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 4px;
                    background-color: $color-primary;
                    transition: all ease-in-out 0.5s;
                    opacity: 0;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                }
                &:hover {
                    color: $color-primary;
                    &:after {
                        transform: translateY(24px);
                        opacity: 1;
                    }
                }
                &.order_btn {
                    padding: 4px 18px;
                    border-radius: 3px;
                    font-size: 16px;
                    font-weight: $font-weight-semi-bold;
                    color: $color-white;
                    background-color: $color-primary;
                    &:hover {
                        background-color: $color-primary-hover;
                        color: $color-white;
                    }
                    &:after {
                        display: none;
                    }

                    &.border_btn
                    { 
                        border:1px solid $color-primary;
                        color: $color-primary;
                        background-color:transparent;

                         &:hover {
                              border-color:$color-primary-hover;
                            background-color: $color-primary-hover;
                            color: $color-white;
                       }
                    }
                }
            }
        }
    }
}