<!-- <section class="banner refer-banner inner-banner" style="background-image:url('assets/images/refer_friend.jpg')">
    <div class="container">
      <div class="banner-content">
        <h1>Refer a friend</h1>
      </div>
    </div>
  </section>
  
  <section class="refer-section">
   <div class="container">
    <div class="refer-sec-content">
      <h3>REFER A FRIEND TO RECEIVE A DISCOUNT YOU CAN BOTH ENJOY!</h3>
  
      <p>Your friend will get £10 off the first order she/he makes that is worth £15 or more <br />
      and we’ll give you £10 off your next order, for each friend you refer.</p>
    </div>
  </div>
  </section>
  
  <section class="how-it-work">
    <div class="container">
      <div class="how-it-work-inn dot_list">
        <div class="title-heading">
          <h3>HOW IT WORKS</h3>
        </div>
  
        <ul>
          <li>Start by Sending or sharing your Unique Referral Code with your friends either through email or social media. Get your Unique Referral Code HERE</li>
          <li>Your friend will need to register with Spotlex</li>
          <li>Once your friend places an order that is worth £15 or more you will receive a discount code to enter as you checkout and the value of £10 will be deducted from your order.</li>
        </ul>
      </div>
    </div>
  </section> -->

  <section>

    <h1 style="text-align: center; margin-top: 10%;">This page will be in Wordpress plateform</h1>
  </section>