 /** RESET only css **/
 
 * {
     margin: 0;
     padding: 0;
     &,
     &:after,
     &:before {
         @include box-sizing;
         font-kerning: none;
     }
 }
 
 label {
     font-weight: normal;
     margin-bottom: 0;
 }
 
 fieldset {
     border: none;
     margin: 0;
     padding: 0;
 }
 
 input,
 select,
 textarea {
     @include appearance(none);
     background-clip: border-box;
     margin: 0;
     outline: 0;
     vertical-align: top;
     width: 100%;
     &:focus {
         box-shadow: none !important;
     }
 }
 
 input[type='checkbox'],
 input[type='radio'] {
     width: auto;
     height: auto;
 }
 
 input[type='checkbox'] {
     appearance: checkbox;
 }
 
 input[type='radio'] {
     appearance: radio;
     vertical-align: -1px;
 }
 
 select[multiple],
 select[size],
 textarea {
     height: auto;
 }
 
 // remove dropdown for IE10
 select {
     cursor: pointer;
 }
 
 select::-ms-expand {
     display: none;
 }
 
 //remove IE11 select element selected option state
 select:focus::-ms-value {
     background-color: transparent;
     color: inherit;
 }
 
 //Allow only vertical resizing of textareas
 textarea {
     resize: none;
 }
 
 //remove search controls
 input[type='search']::-webkit-search-decoration {
     display: none;
 }
 /* For Firefox */
 
 input[type='number'] {
     -moz-appearance: textfield;
 }
 /* Webkit browsers like Safari and Chrome */
 
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }
 
 a {
     color: #000;
     text-decoration: none;
     @include transition;
     &:hover,
     &:focus {
         color: #3f3f3f;
         text-decoration: none;
     }
 }
 
 *:focus {
     outline: none !important;
 }
 
 img {
     max-width: 100%;
     height: auto;
 }
 
 b,
 strong {
     font-weight: bold;
 }
 
 em,
 i {
     font-style: italic;
 }
 
 .clr {
     border: 0;
     clear: both;
     height: 0;
 }
 
 .no-padding {
     padding-left: 0;
     padding-right: 0;
 }
 
 .no-margin {
     margin-left: 0;
     margin-right: 0;
 }
 
 body {
     overflow-x: hidden;

     main
     {
         min-height:calc(100vh - 86px);
         padding-bottom:57px; 
         position:relative;
     }
 }
 
 body,
 html {
     width: 100%;
     overflow-x: hidden;
     height: inherit;
     @include breakpoint(ipad) {
         overflow-x: hidden;
     }
     &.modal-active {
         overflow: hidden;
     }
       &.full-height
       {
         height:100%; 
       }


 }
 
 body {
     font-family: $sans-poppins;
 }
 
 figure {
     margin: 0 !important;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     font-weight: $font-weight-normal;
     margin: 0;
     padding: 0;
     color: $color-black;
 }
 
 ul,
 ol,
 li {
     list-style: none;
     margin: 0;
     padding: 0;
 }
 
 h1,
 h2 {
     letter-spacing: normal;
 }
 
 h2 {
     font-size: 45px;
     font-weight: $font-weight-medium;
 }
 
 .inline {
     display: inline-block !important;
 }
 
 .block {
     display: block !important;
 }
 
 .shown {
     display: inline-block;
     &.block {
         display: block;
     }
 }
 
 .hidden {
     display: none;
 }
 
 .relative {
     position: relative;
 }
 
 label {
     margin-bottom: 0;
 }
 
 //Scrollbar styling for webkit
 ::-webkit-scrollbar {
     min-width: 4px;
     width: 0.15%;
     max-width: 4px;
     height: 3px;
 }
 
 ::-webkit-scrollbar,
 ::-webkit-scrollbar-track,
 ::-webkit-scrollbar-track-piece {
     background: #171719;
 }
 
 ::-webkit-scrollbar-button,
 ::-webkit-scrollbar-thumb {
     background: #ee7e31;
 }
 
 // SVG reset
 svg:not(:root) {
     height: 100%;
     width: 100%;
 }
 
 .wpcf7-response-output {
     padding: 15px !important;
     margin: 0 !important;
     border: 1px solid transparent !important;
     border-radius: 0;
     font-size: 15px;
     @include breakpoint(normal) {
         & {
             font-size: 13px;
             padding: 10px !important;
         }
     }
 }
 
 .wpcf7-validation-errors,
 .wpcf7-acceptance-missing {
     color: #a94442;
     background-color: #f2dede;
     border-color: #ebccd1;
 }
 
 .wpcf7-mail-sent-ok {
     color: #3c763d;
     background-color: #dff0d8;
     border-color: #d6e9c6;
 }
 
 input.wpcf7-not-valid {
     border-color: #f00 !important;
 }
 
 span.wpcf7-not-valid-tip {
     display: none !important;
 }
 
 .container {
     @media screen and (min-width: 1500px) {
         max-width: 1470px;
     }
 }