.height {
    min-height: 100vh;
}

.dashboard-haeder {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    padding: 20px 50px;
    &.navbar.navbar-expand-lg .navbar-nav li:last-child {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
        .btn {
            &:hover {
                background-color: $color-primary;
                color: $color-white;
            }
        }
    }
}

.notify-bell {
    position: relative;
    font-size: 20px;
    .notify-meg {
        width: 17px;
        height: 17px;
        background-color: #f45188;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 12px;
        color: #fff;
    }
}

.dashboard-main {
    padding: 50px;
    padding-bottom: 0;
    .title {
        margin-bottom: 40px;
    }
}

.title {
    h2 {
        font-size: 30px;
        font-family: $sans-poppins;
        letter-spacing: 0.020em;
        font-weight: $font-weight-semi-bold;
        color: #2d2d2d;
    }
}

.dashboard-inner {
    &>ul {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        &>li {
            margin-right: 30px;
            margin-bottom: 30px;
            @media screen and (min-width: 1199.98px) {
                &:nth-child(4n + 4) {
                    margin-right: 0;
                }
            }
            &>a {
                border-radius: 8px;
                display: block;
                &.active {
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
                    opacity: 0.8;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
            &:last-child {
                position: relative;
                .chat-support-wrap {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}

.dashboard-menu-box {
    border-radius: 8px;
    background-image: url('assets/images/dashboard-menu-BG.png');
    @include bg-cover();
    width: 360px;
    height: 240px;
    padding: 30px 25px;
    position: relative;
    @include breakpoint(desktop) {
        width: 294px;
        height: 200px;
    }
    h3 {
        color: $color-white;
        font-size: 30px;
        font-family: $sans-poppins;
        letter-spacing: 0.020em;
        font-weight: $font-weight-semi-bold;
        @include breakpoint(desktop) {
            font-size: 20px;
        }
    }
    figure.footer-icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.chat-support-wrap {
    width: 363px;
    height: 355px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-color: $color-white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    transform: translateY(10px);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all ease-in-out 0.7s;
    &.show {
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
        transform: translateY(0);
    }
}

.chat-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .img-box {
        width: 33px;
        height: 33px;
        border-radius: 100%;
        margin-right: 15px !important;
        @include bg-cover();
    }
    .chat-text-box {
        align-self: center;
        background-color: #4fc3f7;
        color: $color-white;
        padding: 10px;
        border-radius: 8px;
        p {
            color: $color-white;
        }
    }
    &.user-chat {
        flex-direction: row-reverse;
        .img-box {
            margin-right: 0 !important;
            margin-left: 15px !important;
        }
        .chat-text-box {
            background-color: #526179;
        }
    }
}

.char-tile {
    position: relative;
    background-color: #353c49;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    h3 {
        color: $color-white;
        font-size: 18px;
        font-family: $sans-poppins;
        font-weight: $font-weight-semi-bold;
    }
}

a.chat-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 29px;
    background-color: #2a303a;
    &:hover {
        background-color: #f00;
    }
}

.chat-support-content-wrap {
    padding: 10px 15px;
    padding: 50px 15px 66px;
    height: 100%;
    ul {
        height: 100%;
        overflow: auto;
        li {
            margin-bottom: 10px;
        }
    }
}

.type-msg-wrap {
    position: absolute;
    bottom: 9px;
    left: 15px;
    right: 15px;
    .form-control {
        border-radius: 8px;
        background-color: #efefef;
        border-color: transparent;
        padding: 10px 15px;
    }
}

.dashboard-tabs-content-box {
    padding: 20px 0;
    .dashboard-tabs-content-title {
        background-color: #efefef;
        padding: 20px 15px;
        text-align: center;
        h3 {
            color: #14618e;
            font-size: 30px;
            font-weight: $font-weight-medium;
            font-family: $sans-montserrat;
        }
    }
    .dashboard-tabs-content-inn {
        padding: 50px 0;
        h3 {
            font-size: 24px;
            font-size: 24px;
            font-weight: $font-weight-medium;
            font-family: $sans-poppins;
            color: #313131;
        }
    }
}

#loyality-point {
    .dashboard-tabs-content-box {
        .dashboard-tabs-content-inn {
            h3 {
                margin-bottom: 35px;
            }
        }
    }
}

#refer-friend {
    .dashboard-tabs-content-box {
        .dashboard-tabs-content-inn {
            padding: 50px 0 100px;
        }
    }
}

.sm-buttons-outer {
    ul {
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                width: 100%;
                padding: 12px 25px;
                padding-left: 80px;
                display: block;
                border-radius: 8px;
                font-size: 16px;
                color: $color-white;
                position: relative;
                .fa {
                    margin-right: 15px;
                    font-size: 21px;
                    position: absolute;
                    left: 16%;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.facebook {
                    background-color: #48629b;
                    &:hover {
                        background-color: #3d5996;
                    }
                }
                &.twitter {
                    background-color: #03a9f4;
                    &:hover {
                        background-color: #019be0;
                    }
                }
                &.googlePlus {
                    background-color: #f34938;
                    &:hover {
                        background-color: #e01501;
                    }
                }
            }
        }
    }
}

.reger-frient-content {
    h4 {
        font-size: 24px;
        font-weight: $font-weight-medium;
        margin-bottom: 25px;
    }
    p {
        margin-bottom: 25px;
    }
}

.newsletter-wrap {
    position: relative;
    .form-control {
        height: 63px;
    }
    .btn {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        width: 210px;
        border-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        text-transform: uppercase;
    }
}

.dashboard-form-wrap {
    .form-group {
        .col-form-label {
            align-self: center;
            padding-top: 0;
            padding-bottom: 0;

            @include breakpoint(desktop)
            {
                font-size:15px;
            }

            .required
            {
                color:#f00;
            }
        }
        .input-group-text {
            background-color: transparent;
            .btn {
                background-color: transparent;
                padding: 0;
                padding-right: 10px;
                &.dropdown-toggle {
                    &:after {
                        position: relative;
                        left: -20px;
                    }
                }
            }
        }
        .form-control {
            padding-right:56px;
        }
        .input-group-append,
        .input-group-prepend {
            display: flex;
            align-self: flex-start;
            height: 52px;
                position: absolute;
                z-index:9;

                 @include breakpoint(desktop)
                    {
                          height: 47px;
                    }
        }
        .input-group-append {
            right:7px;
            .input-group-text {
                background-color: transparent;
                border: 0 ;
            }
            &:before {
                content: '';
                width: 1px;
                height: 70%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-color: #dedede;
            }
        }
        .input-group-prepend {
            left:5px;

            .input-group-text {
                border: 0;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            &+.form-control {
                padding-left:80px;
            }
        }
    }
    .find-btn {
        text-transform: inherit;

          @include breakpoint(desktop)
            {
                font-size:18px; 
            }
    }

    .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child)
    {
           border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    }
    .input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child)
    {
            border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    }
}

.dashboard-tabs-content-inn {
    form {
        .buttons-outer {
            margin-top: 40px;
        }
    }
}

.dashboard-history-table-wrap
{
    overflow:auto;
    table
    {
        table-layout: fixed;
    }
    .table-bordered th 
    {
        background-color:#227eb4;
        color:$color-white;
        font-size:18px;
        font-weight:$font-weight-medium;
    }
    .table-bordered td
    {
        color:#454545;font-size:16px;font-weight:$font-weight-medium;
    } 
    th,td
    {
        &:nth-child(1)
        {
           width:125px;
        }

       &:nth-child(2) 
        {
           width:235px;
        }

      &:nth-child(3)
        {
           width:165px;
        }

        &:nth-child(4)
        { 
           width:220px;
        }

         &:nth-child(5)
        {
           width:145px;
        }
    }
    .table-bordered td, 
    .table-bordered th 
    {
    border: 0;

    

&:last-child
    {
        text-align:center;
    }

    a
    {
        color:#2db1ff;

        &:hover
        {
            color:$color-black;
        }

        &.link_bttn
       {
            color:#227eb4;
            display: inline-block;
            position: relative;

           &:after
           {
                content:'';
                display:black;
                width:100%;
                margin-top:5px;
                height:1px;
                background-color:#227eb4;
                position: absolute;
                bottom: 0;
                left: 0;
                display: block;
                right: 0;
           }
       }
    }
}
}



.order-details-wrap
{
    padding:22px;
    background-color:#f9f9f9;

    .title
    {
        margin-bottom:20px;

        h3
        {
            margin-bottom:10px;
        }
    }
}

.table
{
        border: 1px solid #dee2e6;

        &:last-child
        {
            margin-bottom:0;
        }

          a
        {
            color:#2db1ff;

            &:hover
            {
                color:$color-black;
            }
        }

thead th {
    border-bottom: 1px solid #dee2e6; 
    font-weight:$font-weight-semi-bold;
}
  td
  {
  font-weight:$font-weight-medium;
  }
   td,th
   {
       padding:14px 28px;
   }

&.order-detail-table
{

    td,th
    {
         color:#454545;font-size:16px;
       

        &:last-child
        { 
            text-align:right;  
        }
    } 
}
}

.table-row
{
    margin:0 0 30px;
 
}

.schedule-collection-wrap
{
    p
    {
        font-size:18px;
        font-weight:$font-weight-medium;
        text-transform:uppercase;
    }
}


.billing-adress-wrap
{
    h3
    {
        margin-bottom:15px;
    }
}