.section-navbars{
    padding: 2px 0 !important;
}
.order_btn{
    padding: 0px 5px !important;
}

.navbar.navbar-expand-lg .navbar-nav li{
    margin-right: 47px !important;
}
.hand{
    cursor: pointer;
}
// #menu-dropdown {
//     max-width: 100% !important;
// }