.custom-margin{
    margin-top: 20px;
}

.account-form{
    max-width: 700px;
    width: 100%;
    margin: 100px auto !important;
    position: relative;
}
.validation-error {
    color:red;
}
