
    <div class="container">
        <div class="require-wrap">
            <h3>What Service do you require?</h3>
            <div class="search-wrap has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>
    </div>
<section class="price-list-wrap">
    <div class="container">
        <ul class="nav" id="myTab" role="tablist">
            <li *ngFor="let catList of categories; let i = index"  class="nav-item">
                <!-- data-toggle="tab" -->
                <a class="nav-link hand">
                    <div class="icon-box-wrap">
                        <figure class="icon-wrap">
                            <img src="{{catList.image}}" alt="category image" (click)="getProductByCatId(catList.id);">
                        </figure>
                        <h3>{{catList.name}}</h3>
                    </div>
                </a>
            </li>
            
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="service-tab-1">
              
            </div>
            <div class="tab-pane fade" id="service-tab-2">

            </div>
            <div class="tab-pane fade" id="service-tab-3">

            </div>
            <div class="tab-pane fade" id="service-tab-4">

            </div>
            <div class="tab-pane fade" id="service-tab-5">

            </div>
            <div class="tab-pane fade" id="service-tab-6">

            </div>
            <div class="tab-pane fade" id="service-tab-7">

            </div>
            <div class="tab-pane fade" id="service-tab-8">

            </div>
            <div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade  show active">
                    <div class="row" >
                        <div *ngFor="let products of productOfCategory; let i =index" class="col-sm-6 boxes">
                            <div class="product-outer">
                                <div class="image-outer">
                                <img src="{{products.image}}">
                                </div>
                                <div class="content-area">
                                    <h3>{{products.name}}</h3>
                                     <p class="contentScroll">{{products.description}}</p>
                                </div>
                                
                                <div class="bottom-text position-relative">
                                    <span class="quantity-badge d-flex justify-content-center align-items-center">{{getQuantity(products.id,userId)}}</span>
                                    <a (click)="addToCart(products,'minus')" class="cust-cur" [ngClass]="{'disabled' : getQuantity(products.id,userId) == 0}"><span>-</span></a>
                                  <div class="price-value">£{{products.price}}</div>
                                    <a (click)="addToCart(products,'plus')" class="cust-cur"><span>+</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 </div>
                </div>
            <!-- <div class="tab-pane fade  show active" id="service-tab-9"> -->

                <!-- <div class="row">
                    <div class="tab_title col-md-11 offset-md-1">
                        <p><strong>Price List</strong></p>
                    </div>
                    <div class="col-md-5 offset-md-1">
                        <div class="price-list-box">
                            <ul>
                                <li>
                                    <div class="price-list-data">
                                        <span>Apron - Press Only</span>
                                        <span>£3.00</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="price-list-data">
                                        <span>Blanket - Press Only</span>
                                        <span>£15.00</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="price-list-data">
                                        <span>Blouse - Press Only</span>
                                        <span>£3.50</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="price-list-data">
                                        <span>Child’d Dress - Press Only </span>
                                        <span>£4.75</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="price-list-data">
                                        <span>Child’s Item - Press Only</span>
                                        <span>£2.50</span>
                                    </div>
                                </li>


                                <li>
                                    <div class="price-list-data">
                                        <span>Child’s Jacket - Press Only</span>
                                        <span>£2.95</span>
                                    </div>
                                </li>


                                <li>
                                    <div class="price-list-data">
                                        <span>Child’s Jacket - Press Only</span>
                                        <span>£2.50</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="price-list-data">
                                        <span>Child’s Trousers - Press Only</span>
                                        <span>£1.80</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 ">
                        <div class="price-list-box">
                            <ul>
                                <li>
                                    <div class="price-list-data">
                                        <span>Napkin - Press Only</span>
                                        <span>£1.00</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="price-list-data">
                                        <span>Napkin - Press Only</span>
                                        <span>£6.90</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="price-list-data">
                                        <span>Pashmina</span>
                                        <span>£5.80</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="price-list-data">
                                        <span>Pashmina - Press Only </span>
                                        <span>£6.00</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="price-list-data">
                                        <span>Pillowcase - Press Only</span>
                                        <span>£1.60</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="price-list-data">
                                        <span>Polo Shirt - Press Only</span>
                                        <span>£3.00</span>
                                    </div>
                                </li>


                                <li>
                                    <div class="price-list-data">
                                        <span>Pyjama Bottoms - Press Only</span>
                                        <span>£3.00</span>
                                    </div>
                                </li>

                                <li>
                                    <div class="price-list-data">
                                        <span>Pyjama Top - Press Only</span>
                                        <span>£3.00</span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 text-center find-looking-wrap">
                        <div class="title-heading">
                            <h3>CAN’T FIND WHAT YOU’RE LOOKING FOR?</h3>
                            <p>If you have an item you would like us to take care of but can't see it listed please contact us to clarify the price.</p> <br />

                            <p>The Minimum order is £15 you can give us fewer items and the order will be rounded up to £15. Collection and Delivery is FREE, a supplement of £10 will apply if you are not in for a collection or delivery.
                            </p>
                        </div>
                    </div>
                </div> -->
            <!-- </div> -->
            <div class="tab-pane fade" id="service-tab-10">

            </div>
            <div class="tab-pane fade" id="service-tab-11">

            </div>
        </div>
    </div>
</section>
<section class="select-cart active">
    <div class="container">
       <div class="row">
           <div class="col-sm-7">
                   <h4>Minimum Order Value £{{minValue}}</h4>
           </div>
           <div class="col-sm-5 text-right">
               <h4>Total: £ 5.20</h4>
           </div>    
           <div class="col-sm-7">
               <a href="#" class="support-here">
                 <span> <i class="fa fa-commenting" aria-hidden="true"></i></span>
                   Support
               </a>
           </div> 
           <!-- routerLink="/checkout" routerLinkActive="active" -->
             <div class="col-sm-5 text-right">
               <a class="your-basket hand" *ngIf="!showSpkiItemDiv" (click)="skipItem()">
                   Skip Item Selection<i class="fa fa-angle-right" aria-hidden="true"></i>
               </a>
               <a class="your-basket" routerLink="/basket" routerLinkActive="active" *ngIf="showSpkiItemDiv">
                   Your Basket <i class="fa fa-angle-right" aria-hidden="true"></i>
               </a>
             </div>
       </div>
   </div>
</section>