/* my-loader.component.css */
.loading-spinner{    
    background-color: none;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    z-index: 99999;
}


