.btn {
    @include border-radius(10px);
    padding: 10px 20px;
    font-family: $sans-montserrat;
    font-weight: $font-weight-normal;
    font-style: normal;
    font-size: 20px;
    border: 0;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.014);
    @include breakpoint(desktop) {
        font-size: 16px;
    }
    &:hover,
    &:focus,
    &:active {
        box-shadow: none;
        outline: 0;
    }
    &.primary_btn {
        background: $color-primary;
        color: $color-white;
        &:hover,
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled):active {
            background-color: #0d92e0;
            color: $color-white;
            border-color:#0d92e0;
        }
    }
    &.secondary_btn {
        background: $color-secondary;
        color: $color-white;
        &:hover,
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled):active {
            background-color: $color-primary;
            color: $color-text;
        }
    }
    &.primary_border_btn {
        border: 1px solid $color-primary;
        color: $color-primary;
        background-color: transparent;
        &:hover,
        &:focus,
        &:active,
        &:not(:disabled):not(.disabled):active {
            
            background-color: #0d92e0;
            color: $color-white;
            border-color:#0d92e0;
        }
    }

      &.border_btn {
        border: 1px solid $color-primary;
        color: $color-primary;
        background-color: transparent;
        &:hover {
            background-color: $color-secondary;
            color: $color-white;
        }
    }
    &.sm_btn {
        padding: 10px 25px;
    }
    &.nm_btn {
        min-width: 180px;
        font-size: 20px;

        @include breakpoint(desktop)
        {
            min-width: 150px;
            font-size: 18px;
        }
    }
    &.rg_btn {
        padding: 15px 25px;
        font-size: 18px;
        @include breakpoint(desktop) {
            padding: 13px 25px;
            font-size: 17px;
        }
    }
}

.link_btn {
    color: $color-black;
    font-size: 15px;
    font-weight: $font-weight-normal;
    &::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 1px;
        background-color: $color-primary;
        margin-left: 12px;
        transition: all ease-in-out 0.5s;
    }
    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):active {
        color: $color-primary;
        &::after {
            margin-left: 15px;
        }
    }
}

.link-btn
{
    color:$color-primary;
    font-size:16px;
    font-weight: $font-weight-normal;

    &:hover
    {
        color: $color-primary-hover;
    }
}